@CHARSET "ISO-8859-1";

body {
	
	background-size: 1600px 900px;
	background-repeat: no-repeat;
}

#wrapper {
	margin: 0 auto;
	width: 1500px;
	height: 900px;
}

header {
	width: 100%;
	height: 140px;
	background-color: #FFFFF5;
	border-bottom: 1px solid red;
}

#image {
	padding-top: 25px;
}

#head {
	background-color: #0C0C0C;
	width: 100%;
	height: 80px;
}

nav {
	padding-top: 6px;
	text-align: right;
	clear: both;
}

nav ul {
	margin: 0px;
	list-style: none;
}

nav ul li {
	display: inline;
	border: 0px solid #f00;
	margin: 0 10px;
}

nav ul li a {
	
}

nav ul li a:hover {
	
}

section {
	border: 1px solid red;
	width: 300px;
	height: 380px;
	float: left;
	margin-top: 60px;
	clear: both;
	background-color:#3D3D3C;
	
	font-size:20px; 
	font-family: monospace;
	color: white;
}
section h1{
	font-family:cursive;
	font-size:35px; 
}

aside {
	height: 400px;
	width: 700px;
	background-color: rgba(148, 147, 140, 0.7);
	float: left;
	margin-top: 60px;
	margin-left: 300px;
}

.inputbox {
	width: 100%;
	border: 2px solid gray;
	border-radius: 4px;
}

footer{
	
	
	background-color: #21210C;
	height: 80px;
	
	width: 1600px;
	margin-top: 80px;
}

#searchdetail {
	width: 600px;
	height: 450px;
	margin: 15px auto 0px auto;
	border: 1px solid gray;
	text-align: center;
	background-color: rgba(148, 147, 140, 0.7);
}

#detail {
	width: 600px;
	height: 550px;
	margin: 15px auto 0px auto;
	border: 2px solid gray;
	text-align: center;
	font-size:20px;
	background-color:#1e2020;
	color:white;
}

#fulldetail{
	width: 600px;
	height: 950px;
	margin: 15px auto 0px auto;
	border: 2px solid gray;
	text-align: center;
	background-color: rgba(148, 147, 140, 0.4);
}

.aligncenter {
	text-align: center;
}

.btnStyle {
	color: #9D91ED;
	background-color: rgba(0, 0, 0, 0);
	font-weight: bold;
	border: 1px soild black;
	border-top-right-radius: 10px;
	font-size: 120%;
}

.searchBox{
	color: black
}

.searchBox:FOCUS {
	box-shadow: 0 0 10px red;
}

input {
	background-color: rgba(0, 0, 0, 0);
	color: black;
	font-weight: bold;
	border: 1px solid orange;
}

select {
	background-color: rgba(0, 0, 0, 0);
	color: black;
	font-weight: bold;
	border: 1px solid orange;
	width: 150px;
}

input:HOVER {
	box-shadow: 0 0 10px #85D9F2;
}

select:HOVER {
	box-shadow: 0 0 10px red;
}

#loginBoxForAdmin {
	border: 1px solid white;
	width: 400px;
	height: 250px;
	margin: 0 auto;
	margin-top: 150px;
	clear: both;
	background-color: rgba(148, 147, 140, 0.2);
	color: white;
	border-top-left-radius:40px;
}

#loginBoxForUser {
	border: 1px solid black;
	width: 600px;
	height: 80px;
	margin: 0 auto;
	margin-top: 50px;
	clear: both;
	background-color: rgba(148, 147, 140, 0.7);
}

#specificationDetail {
	border: 1px solid black;
	width: 600px;
	height: 500px;
	float: left;
	margin: 0 auto;
	margin-top: 50px;
	margin-left: 200px;
	clear: both;
	background-color: rgba(148, 147, 140, 0.7);
}

#specificationImage {
	border: 1px solid black;
	width: 400px;
	height: 300px;
	float: left;
	margin: 0 auto;
	margin-top: 150px;
	margin-left: 150px;
	background-color: rgba(148, 147, 140, 0.7);
}
.tableStyle{
	font-size: 22px;
	
}
td {
    padding-top: .5em;
    padding-bottom: .5em;
    
}
.editlink{
	color: white;
}
.viewlink{
	color: yellow;
}

.white{
	color:white;
}
.specification{
	margin:0 auto;
	margin-top:100px;
	width: 800px;
	height:700px;
	font-family: monospace;
	font-weight: bold;
	font-size: 18px;
	float: left;
	margin-left: 100px;
}

.carimage{
	margin-top:40px;
	width: 480px;
	height:420px;
	
	float: left; 
}

.bold{
	font-size:25px;
	font-weight: bold;
	font-family: cursive; 
}
.size{
	font-size:28px;
	font-weight: bold;
	font-family: cursive;
}

.red{
	font-family:monospace;
	color:red;
	font-family:26px;  
}

.search{
	font-size: 20px;
}
.allcar{
	width:1300px;
	margin: 0 auto;
	height:650px;
	
	overflow: scroll;
}

.white, .white a {
  color:lightblue;
}
.glyphicon {
    font-size: 60px;
}