@CHARSET "ISO-8859-1";

body {
	background-color: #F7EDD8;
}

#wrapper {
	margin: 0 auto;
	margin-top: 70px;
	border: 1px solid gray;
	width: 400px;
	height: 200px;
	padding-top: 40px;
	border-top-left-radius: 25px;
	background-color: rgba(0, 0, 0, 0.3);
}

.error {
	color: red;
}

section {
	margin: 0 auto;
	width: 1200px;
	height: 50px;
	background-color: #747474;
	font-size: 40px;
	font-family: fantasy;
	text-align: center;
	color: white;
}